.button{
  border-radius: 12px;
  background-color: $button_color;
  color: $button_text_color;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.button-group{
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: $shadow;
  border-radius: 8px;

  & > *{
    height:30px;
    padding: 0;
    display: flex;
    align-items: center;
  }
  & > *:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  & > *:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &__button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: $button_color;
    color:$button_text_color;
    border: none;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    &--success{
      background-color: $button_success-color;
    }
  }
}
.quality-button{
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $bg_color;
  &__btn{
    border:none;
    background-color: transparent;
    svg{
      fill: $text_color;
      stroke: $text_color;
      width: 10px;
      height: 10px;
      * {
        fill: $text_color;
        stroke: $text_color
      }
    }
  }
  &__result{
    text-align: center;
    width: 25px;
    font-size: 11px;
    padding: 0 5px;
  }
}

.badge{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $button_text_color;
  background-color: $button_color;
  &--circle{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
  }
}