.user-info{
  display: grid;
  padding: 10px 20px;
  grid-template-columns: 50px 1fr;
  gap:20px;
  &__image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    color:$text_color;
    font-size: 16px;
    font-weight: bold;
  }
  &__subtitle{
    margin-top:5px;
    color:$hint_color;
    font-size: 12px;
  }
}
.list-info{
  margin:20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $secondary_bg_color;
  color:$text_color;
  border-radius: 6px;
  font-size: 12px;
  & li{
    display: flex;
    justify-content: space-between;
    padding:8px 10px;
    border-bottom: 1px solid $bg_color;
    &:last-child{
      border-bottom: none;
    }
  }
  & li span:last-child{
    color:$link_color;
    font-weight: bold;
  }
}
.grid-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:15px;
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $bg_color;
    box-shadow: $shadow;
    padding: 10px;
    min-height: 100px;
    border-radius: 10px;
  }
  &__icon{
    position: relative;
    margin-bottom: 10px;
    svg{
      width:35px;
      height: 35px;
      fill:$text_color;
      path{
        fill:$text_color;
      }
    }

  }
  &__hint{
    position: absolute;
    top: -8px;
    right: -8px;
    background: $bg_color;
    color:$text_color;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}