@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800;900&display=swap');
body{
  background-color:#F2F2F2;
  color:$text_color;
  margin: 0;

  font-family: 'Inter', sans-serif;
}
*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 0px 0px;
  background: $secondary_bg_color;
  min-height: 100vh;
}
.svg-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a{
  text-decoration: none;
  color:$link_color;
}
p{
  margin: 0 0 5px 0;
}
.with-top-panel{
  padding-top: 65px;
}
.with-bottom-panel{
  padding-bottom: 65px;
}
.ymap{
  width: 100%;
}
.text-primary{
  color:$button_primary-color;
}
.text-success{
  color:$button_success-color;
}
.text-danger{
  color:$button_danger-color;
}
.text-info{
  color:$button_info-color;
}
.text-warning{
  color:$button_warning-color;
}