body{
  background-color:$bg_color;
  color:$text_color;
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  //max-width: 480px;
}
.button{
  background-color: $button_color;
  color:$button_text_color;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.button{

}