@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #F2F2F2;
  color: #424242;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #51b1fc;
}

p {
  margin: 0 0 5px 0;
}

svg * {
  fill: #424242;
  stroke: #424242;
}

img {
  width: 100%;
  object-fit: cover;
}

.ymap {
  width: 100%;
}

.text-primary {
  color: #5e72e4;
}

.text-success {
  color: #2dce89;
}

.text-danger {
  color: #f5365c;
}

.text-info {
  color: #11cdef;
}

.text-warning {
  color: #fb6340;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  padding: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  background: #f9f9fa;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  transform-origin: top left;
  transition: transform 0.4s ease-in;
}
.wrapper.open-menu {
  transform: translate3d(-41%, 5%, 0) scale(0.9);
  position: fixed;
  height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-icon div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bottom {
  position: fixed;
  right: 15px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #51b1fc;
  box-shadow: 0 0px 11px -4px rgba(17, 32, 43, 0.7);
  z-index: 200;
}
.menu-bottom svg {
  width: 15px;
  height: 15px;
  stroke: #ffffff;
}
.menu-bottom svg * {
  fill: #ffffff;
  stroke: #ffffff;
}

.item__slider {
  display: flex;
  padding: 0 10px;
}
.item__slider > * {
  height: 100%;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.empty-cart__text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.category-list {
  padding: 15px 0;
  border-bottom: 1px solid #ffffff;
}
.category-list__wrapper {
  overflow-x: auto;
  display: flex;
  gap: 15px;
}
.category-list__item {
  white-space: nowrap;
  background-color: #ffffff;
  padding: 5px 22px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.category-list__item.active {
  background-color: #51b1fc;
  color: #ffffff;
}

.products {
  padding: 15px 0;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.products__list.line {
  grid-template-columns: repeat(1, 1fr);
}
.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  isolation: isolate;
  background: #ffffff;
  border-radius: 14px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.products__item.line {
  flex-direction: row;
  align-items: flex-start;
}
.products__item-image {
  width: 100%;
}
.products__item-image img {
  width: 100%;
  height: 160px;
  border-radius: 14px 14px 0 0;
}
.products__item.line .products__item-image {
  width: 100px;
  height: 130px;
}
.products__item.line .products__item-image img {
  border-radius: 14px 0 0 14px;
  width: 100px;
  height: 130px;
}
.products__item-content {
  width: 100%;
  padding: 14px 14px 10px;
}
.products__item.line .products__item-content {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.products__item-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 4px;
  line-height: 16px;
  color: #424242;
}
.products__item-subname {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 4px 0;
  line-height: 14px;
  color: #c3c3c3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.products__item-subname > * {
  padding: 0 5px;
  border-right: 1px solid #c3c3c3;
}
.products__item-subname > *:last-child {
  border-right: none;
}
.products__item-description {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #c3c3c3;
}
.products__item-button {
  width: 34px;
  height: 34px;
  background-color: #51b1fc;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.products__item-button svg {
  width: 22px;
  height: 22px;
}
.products__item-button svg * {
  stroke: #ffffff;
  fill: #ffffff;
}
.products__item-price {
  margin-top: 15px;
  display: inline-flex;
  color: #2dce89;
  border: 1px solid #2dce89;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.product-item {
  min-height: 100vh;
  background-color: #ffffff;
}
.product-item__image {
  height: 50vh;
}
.product-item__content {
  position: relative;
  margin-top: -60px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(50vh + 50px);
}
.product-item__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.product-item__description {
  margin-bottom: 20px;
}
.product-item__row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
.product-item__variables {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.product-item__variables-item {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9fa;
  padding: 5px 22px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.product-item__variables-item.selected {
  background-color: #51b1fc;
  color: #ffffff;
}
.product-item__hint {
  color: #c3c3c3;
  margin-right: 5px;
}
.product-item__price {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 16px;
  display: inline-flex;
  color: #2dce89;
  border: 1px solid #2dce89;
  border-radius: 5px;
  padding: 2px 6px;
  font-family: "Poppins", sans-serif;
}

.popular {
  margin: 20px 0;
}
.popular__header {
  padding: 10px 0;
}
.popular__title {
  font-size: 18px;
  font-weight: bold;
}

.cart {
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 65px);
}
.cart__button {
  width: 100%;
  color: #ffffff;
  background-color: #2dce89;
  padding: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  border-radius: 8px;
  line-height: 19px;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__item {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: #424242;
  border-radius: 25px;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
.cart__item-image {
  width: 95px;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.cart__item-content {
  padding: 12px 12px 12px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.cart__item-name {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-size: 15px;
}
.cart__item-price {
  margin: 15px 10px 10px;
  font-size: 14px;
  display: inline-flex;
  color: #2dce89;
  border: 1px solid #2dce89;
  border-radius: 5px;
  padding: 2px 6px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  font-weight: bold;
}
.cart__item-remove-button {
  position: absolute;
  right: -15px;
  bottom: 15px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f5365c;
  color: #424242;
  box-shadow: 0 0px 11px -4px rgba(17, 32, 43, 0.7);
}
.cart__item-remove-button svg {
  width: 12px;
  height: 12px;
}
.cart__item-remove-button svg * {
  fill: #ffffff;
  stroke: #ffffff;
}
.cart .quality-control {
  border-radius: 8px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #f9f9fa;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.cart .quality-control__button {
  color: #424242;
  border: none;
  background-color: transparent;
  padding: 0;
}
.cart .quality-control__button svg {
  width: 12px;
  height: 12px;
}
.cart .quality-control__button svg * {
  fill: #424242;
  stroke: #424242;
}
.cart .quality-control__value {
  text-align: center;
  width: 25px;
  font-size: 11px;
  padding: 0 5px;
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 35vh 20px 50px;
  background-color: #ffffff;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu__item {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color: #424242;
  font-size: 22px;
  position: relative;
  gap: 5px;
  align-items: center;
}
.menu * svg * {
  stroke: #424242;
  fill: #424242;
}

.spinner {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.spinner__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498DB;
  border-radius: 5px;
  animation: load 1.8s ease-in-out infinite;
}
.spinner__item:before, .spinner__item:after {
  position: absolute;
  display: block;
  content: "";
  animation: load 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}
.spinner__item:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: #EF4836;
}
.spinner__item:after {
  bottom: -20px;
  width: 35px;
  background: #F5AB35;
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #424242;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #424242;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #424242;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.contacts__map {
  margin-bottom: 20px;
}
.contacts__map ymaps {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.button {
  border-radius: 12px;
  background-color: #51b1fc;
  color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.button-group > * {
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
}
.button-group > *:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.button-group > *:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.button-group__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #51b1fc;
  color: #ffffff;
  border: none;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}
.button-group__button--success {
  background-color: #2dce89;
}

.quality-button {
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
}
.quality-button__btn {
  border: none;
  background-color: transparent;
}
.quality-button__btn svg {
  fill: #424242;
  stroke: #424242;
  width: 10px;
  height: 10px;
}
.quality-button__btn svg * {
  fill: #424242;
  stroke: #424242;
}
.quality-button__result {
  text-align: center;
  width: 25px;
  font-size: 11px;
  padding: 0 5px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #51b1fc;
}
.badge--circle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px;
}

.order-info {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.order-info > *:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.order-info > *:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.order-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 10px;
  font-size: 14px;
  color: #424242;
  border-bottom: 1px solid #f9f9fa;
}
.order-info__item span:last-child {
  color: #51b1fc;
  font-weight: bold;
}

.orders {
  color: #424242;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.orders__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  font-size: 14px;
}
.order-card > * {
  padding: 10px;
  border-bottom: 1px solid #f9f9fa;
}
.order-card > *:last-child {
  border-bottom: none;
}
.order-card__header, .order-card__footer {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-card__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order-card__status {
  font-size: 12px;
  font-weight: normal;
  padding: 3px 6px;
  border-radius: 10px;
}
.order-card__status--primary {
  background-color: #5e72e4;
  color: #fff;
}
.order-card__status--warning {
  background-color: #fb6340;
  color: #fff;
}
.order-card__status--info {
  background-color: #11cdef;
  color: #fff;
}
.order-card__status--success {
  background-color: #2dce89;
  color: #fff;
}
.order-card__status--danger {
  background-color: #f5365c;
  color: #fff;
}
.order-card__info {
  font-size: 13px;
}
.order-card__info--hint {
  color: #c3c3c3;
}
.order-card__price {
  color: #51b1fc;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-block__title {
  font-size: 13px;
  color: #c3c3c3;
}

.input-container {
  display: flex;
  width: 100%;
}

.input, .select {
  width: 100%;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  padding: 0 10px;
  background: #ffffff;
  border: none;
  line-height: 25px;
  height: 35px;
  outline: none;
  color: #424242;
}

.form {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.form > * {
  border-bottom: 1px solid #f9f9fa;
}
.form > *:first-child input {
  color: #424242;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.form > *:last-child {
  border-bottom: none;
}
.form > *:last-child input {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form .form-control {
  border: none !important;
  width: 100% !important;
  background-color: #ffffff !important;
}

.react-tel-input .flag-dropdown {
  left: 1px;
  top: 1px !important;
  height: calc(100% - 2px);
  background-color: transparent !important;
  color: #424242 !important;
  border: none !important;
  border-radius: 6px 0 0 6px;
}
.react-tel-input .flag-dropdown.open {
  background-color: #ffffff !important;
}

.react-tel-input .selected-flag {
  border-radius: 6px 0 0 6px;
}

.react-tel-input .country-list {
  background-color: #f9f9fa !important;
  color: #424242 !important;
}

.react-tel-input .country-list .country.highlight,
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .country-list .country:hover {
  background-color: #ffffff !important;
  color: #424242 !important;
}

.radio-group {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.radio-group > *:first-child > span {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.radio-group > *:last-child > span {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.radio-group--horizontal {
  flex-direction: row;
}
.radio-group--horizontal > * {
  width: 50%;
}
.radio-group--horizontal-3 > * {
  width: 33%;
}
.radio-group--horizontal-4 > * {
  width: 25%;
}
.radio-group--horizontal > *:first-child > span {
  border-radius: 8px 0 0 8px;
}
.radio-group--horizontal > *:last-child > span {
  border-radius: 0 8px 8px 0;
  border-bottom: none;
}
.radio-group--horizontal > * > span {
  text-align: center;
  justify-content: center;
}
.radio-group * > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-group * > span {
  display: flex;
  background-color: #ffffff;
  padding: 6px 10px;
  font-size: 14px;
  color: #424242;
  border-bottom: 1px solid #f9f9fa;
}
.radio-group * > input:not(:disabled):active + span {
  background-color: #f9f9fa;
  color: #c3c3c3;
}
.radio-group * > input:checked + span {
  background-color: #51b1fc;
  color: #ffffff;
}
.radio-group * > input:disabled + span {
  background-color: #e9ecef;
  color: #c3c3c3;
}

.form .form-control.invalid {
  border: 1px solid red !important;
}

.react-datepicker {
  border: 1px solid #f9f9fa !important;
  background-color: #ffffff !important;
  color: #424242 !important;
}
.react-datepicker__header {
  background-color: #f9f9fa !important;
  border-color: #ffffff !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: #424242 !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #424242 !important;
}

.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  opacity: 0.4;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}
.socials__item {
  display: flex;
}
.socials__item svg {
  height: 24px;
  width: 24px;
}

.block-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 20px;
  gap: 12px;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
.block-list__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
  margin-bottom: 16px;
}
.block-list__body {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
  width: 100%;
}
.list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f9fa;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.list__item:last-child {
  border: none;
}
.list__item-value {
  color: #424242;
}
.list__item-value--icon {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
}
.list__item-value--icon > * {
  display: flex;
  align-items: center;
}
.list__item-value--icon svg {
  width: 20px;
  height: 20px;
}
.list__item-value--primary {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #51b1fc;
}

.banners__slider {
  margin: 40px 0 20px;
  display: block;
}

.banner {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.banner img {
  border-radius: 14px;
}

.tab__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tab__header--2 {
  grid-template-columns: repeat(2, 1fr);
}
.tab__header--3 {
  grid-template-columns: repeat(3, 1fr);
}
.tab__header--4 {
  grid-template-columns: repeat(4, 1fr);
}
.tab__header-item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f9f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.tab__header-item:first-child {
  border-radius: 8px 0 0 8px;
}
.tab__header-item:last-child {
  border-radius: 0 8px 8px 0;
  border-right: none;
}
.tab__header-item.active {
  background-color: #51b1fc;
  color: #ffffff;
}

.bottom-widget {
  background: #f9f9fa;
  position: fixed;
  bottom: -196px;
  left: 0;
  width: 100%;
  transition: bottom 0.3s ease-in;
  color: #ffffff;
}
.bottom-widget svg path {
  fill: #ffffff;
  stroke: #c3c3c3;
}
.bottom-widget.open {
  bottom: 0;
}
.bottom-widget__header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
  background: #51b1fc;
  border-radius: 15px 15px 0 0;
  height: 40px;
}
.bottom-widget__header svg {
  width: 16px;
  height: 16px;
}
.bottom-widget__body {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*# sourceMappingURL=main.css.map */
